[Desktop Entry]
Name=Voice
Exec=qmlscene %U Voice/Main.qml
Icon=Voice/Voice.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#ffffff
X-Ubuntu-Supported-Orientations=portrait
